{% load static %}
  
   <!-- Navbar -->
   <div class="navbars">
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'dashboard' %}"><i class="fas fa-home"></i> 
        <strong>Home Page</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
        </li>
        {% if user.is_authenticated %}
        
        {% endif %}
      
        </ul>
        <!--search form-->
        {% if user.is_authenticated %}
        <div class="search">
        <form class="form-inline" action="{% url 'search_results' %}">
          <div class="md-form my-1">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
          </div>
        </form>
    </div>
        {% endif %}

        <div class="col-sm-6 col-lg-6 d-flex justify-content-end">
          {% if user.is_authenticated %}
          <ul><li class="nav-item">
            <div class="jok">
              <a class="text-white btn btn-outline-dark" href=""><i class="fa fa-paper-plane" aria-hidden="true"></i>SUBMIT YOUR WEBSITE </a>
              </div>
            </li></ul>
          <ul>
            <li class="dropdown list-unstyled text-white">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user" style="color: yellow;"></i> My Account </a>
              <ul class="dropdown-menu dropdown-default" role="menu">
                <li>
                    <a class="dropdown-item" href="">Profile</a>
                  </li>
                <li>
                  <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li class="list-unstyled">
            <div id="chapa">
              <a class="btn btn-sm btn-default" href="/accounts/login" style="font-size: 15px; color: white;"style="color: yellow;"><i class="fas fa-sign-in"></i>Login</a></i>Login</a>
              </div>
              <div id="chapa1">
              <a class='btn btn-sm btn-default ' href="/accounts/register"style="font-size: 15px;"><i class="fas fa-user-plus"></i>Register</a>
              </div>
          </li>
          </div>
          </div>

          {% endif %}
    </div>
    

</div>
<!-- Collapsible content -->
</nav>
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
  
      <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video"
          data-toggle="modal" data-target="#modal1"></a>
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
  
      <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg" alt="video"
          data-toggle="modal" data-target="#modal6"></a>
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
  
      <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg" alt="video"
          data-toggle="modal" data-target="#modal4"></a>
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
