@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.homesection {
    text-align: center;
    color: white;
    background-color: black;
}
.navbars {
    background-image: url(../images/sddefault.jpg);

}
.search {
    background-color: white;
}
.iamge {
    font-family: 'Syne Mono', monospace;
    background-image: url(../images/sddefault.jpg);
    color: white;
}
.container {
    font-family: 'syne Mono', monospace;
}